/*
	Instagram: @jvngarcia_ 
	YouTube: JVN Garcia
	Linkedin: @jvngarcia
*/

.contenedor-principal{
    display: inline-block;
    transition: all .2s ease;
    height: 390px;
    width: 100%;
    position: relative;
    text-align: left;
}
.contenedor-tarjeta{
    overflow: hidden;
	height: 100%;
}

.img-tarjeta{
	background-image: url('../images/prueba-principal.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
	width: 100%;
	margin-top: 3rem;
	transition: all .5s ease;
	border-radius: 20px;
}

.titulo-tarjeta{
	font-size: 14pt;
}

p{
	margin-bottom: 1em;
	font-size: 13px;
	line-height: 1.42857;
}
.contenedor-principal:hover .img-tarjeta{
	height: 100px;
	width: 50%;
	margin-top: 0;
}

h3{
	font-size: 15px;
}